dist: trusty
sudo: required
cache:
  directories:
    - $HOME/.m2
language: java
jdk:
  - oraclejdk8
script:
  - './mvnw package -Pspring,full -s .settings.xml -U -Dmaven.test.redirectTestOutputToFile=true'

after_success:
  - bash <(curl -s https://codecov.io/bash)
